@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
 /* Disable all animations and transitions for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * { animation: none !important; transition: none !important; }
}
@theme {
  --color-bg-light: #D3C6B6;
  --color-bg-dark: #030303;
  --color-surface-light: #76ABAE;
  --color-surface-dark: #31363F;
  --color-accent-light: #31363F;
  --color-accent-dark: #76ABAE;
  --color-text-light: #222831;
  --color-text-dark: #EEEEEE;
}

/* Utilities */
@layer utilities {
  .mask-fade {
    -webkit-mask-image: radial-gradient(
      circle at 130% 140%, 
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: radial-gradient(
      circle at 130% 140%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

/* Animations */
@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.animate-fadeInBlur {
  animation: fadeInBlur .9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Global dark red scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #b00020; 
}

::-webkit-scrollbar-track {
  background-color: #111; 
}

* {
  scrollbar-color: #b00020 #111;
}
